importMethodsFrom(graph, acc, adj, edges, inEdges, nodes, subGraph)

importFrom(Biobase, copySubstitute)

importFrom(RBGL, sp.between)

importFrom(XML, saveXML, xmlNode, xmlOutputDOM, xmlTree)

importFrom(tools, write_PACKAGES)

exportClasses("Htmlized",

              "PackageDetail", "pdAuthorMaintainerInfo", "pdVignetteInfo",
              "pdDownloadInfo", "pdDetailsInfo", "pdDescriptionInfo",
              "pdVigsAndDownloads",

              "RepositoryDetail", "rdPackageTable",

              "BiocView", "bvTitle", "bvPackageTable", "bvSubViews",
              "bvParentViews")

exportMethods("coerce", "show", "htmlDoc", "htmlValue", "htmlFilename")

export("writeBiocViews", "getBiocViews", "write_VIEWS", "write_REPOSITORY",
       "genReposControlFiles", "extractVignettes", "extractManuals",
       "writeRepositoryHtml", "writePackageDetailHtml", "getSubTerms",
       "getBiocSubViews", "writeTopLevelView", "writeHtmlDoc", "write_SYMBOLS")
